.tableau-style  {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px black;
    cursor: pointer;
    margin: 50px auto;
    border: 2px solid ;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid #ddd;  */
}

thead tr {
    background-color:black;
    color: #fff;
    text-align: center;
}

th, td {
    padding: 15px 25px;
}

caption {

	font-size: 2em;
	 margin: .25em 0 .75em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

/* Media Queries*/

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    display: none;
  }
  table tr {
    border: 3px solid ;
    display: block;
  }
  table td {
    border-bottom: 1px solid ;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
  	content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}

